@import "colors";

.header-content {
    height: 75px;
    background-color: $black;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

    .app-title {
        font-weight: 700;
        font-size: 18px;
        color: $grey;
    }

    .search-field {
        width: 400px;
        margin-top: 15px;

        input {
            color: $grey;
        }
    }
}

mat-icon {
    color: $grey !important;
}
