.header-content {
    height: 75px;
    background-color: #222831;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;

    .app-title {
        font-weight: 700;
        font-size: 18px;
        color: #EEEEEE;
    }

    .search-field {
        width: 400px;
        margin-top: 15px;

        input {
            color: #EEEEEE;
        }
    }
}

mat-icon {
    color: #EEEEEE !important;
}
