@import "colors";
@import "mixins";

.dialog-content {
    color: $grey;

    .header {
        padding: 20px;
        @include display_flex_row(flex, row, space-between);
        background-color: $teal;

        .title {
            font-size: 18px;
            font-weight: 600;
        }

        .description {
            opacity: 0.7;
            font-size: 14px;

        }
    }

    .content {
        color: $arsenic;
        padding: 25px;
        @include display_flex_column(flex, column, center);

        .question {
            font-size: 18px;
            font-weight: 700;
            margin-top: 10px;
        }

        .text {
            margin-top: 10px;
            line-height: 20px;
            font-size: 14px;

            .bookmark-name {
                @include text(14px, italic, 600);
                color: $teal;
            }
        }
    }

    .btn-container {
        @include display_flex_row(flex, row, space-between);
        margin-top: 25px;
        width: 250px;


        .btn-delete {
            background-color: $arsenic;
            color: $grey;
            cursor: pointer;
        }
    }
}
