@import "colors";
@import "mixins";

.bookmarks-list {
    @include display_flex_row(flex, row, space-between);
    margin: 10px 10px;
    color: $black;
    width: 550px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 15px;
    padding: 10px 10px;

    .row {
        display: flex;
        align-items: center;
    }

    .bookmark-icon {
        margin-right: 20px;
        color: $arsenic !important;
    }

    .bookmark-name {
        @include text(18px, normal, 600);
        line-height: 35px;
    }

    .bookmark-url {
        word-wrap: break-word;
        max-width: 400px;
        @include text(14px, italic, 500);
        color: $teal;
        text-decoration: underline;
        cursor: pointer;
    }

    .edit-icon {
        color: $arsenic;
    }
}
