<div class="dialog-content">
  <div class="header">
    <div class="title">{{ dialogTitle }}</div>
    <div class="description">Type bookmark name and url</div>
    <mat-icon>bookmark_outline</mat-icon>
  </div>

  <form [formGroup]="bookmarkForm">
    <div class="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="url">
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
    </div>
    <div class="btn-container">
      <button mat-button (click)="onCancelDialog()">Cancel</button>
      <button
        mat-button
        [disabled]="!bookmarkForm.valid"
        class="btn-submit"
        (click)="onSubmit()"
      >
        {{ data ? "Update Bookmark" : "Create Bookmark" }}
      </button>
    </div>
  </form>
</div>
